//Font
$font-family: "Poppins", sans-serif;

//Colors
$black-text-color: #000000;
$white-text-color: #ffffff;
$green-text-color: #c9e136;
$darkgrey-text-color: #1d1d1d;
$grey-text-color: #191919;
$blue-hover-text-color: #1393f5;
$darkblue-text-color: #2879fe;

$black-bg-color: #000000;
$white-bg-color: #ffffff;
$red-bg-color: #fc0c05;
$darkred-bg-color: #e30000;
$darkgrey-bg-color: #1d1d1d;
$yellow-bg-color: #ccd500;
$lightyellow-bg-color: #fdee1f;
$blue-bg-color: #00abdf;
$grey-bg-color: #eef0f4;
$darkblue-bg-color: #2879fe;
