/*Footer before: Social icons*/
.footer-before {
  background-color: $darkgrey-bg-color;
  color: $white-text-color;
  padding: 10px 0;
  ul {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    li {
      /*Facebook social network icon*/
      &:first-child a i:hover {
        color: #1877f2;
      }
      /*Youtube social network icon*/
      &:nth-child(2) a i:hover {
        color: #fe0000;
      }
      /*Instagram social network icon*/
      &:last-child a i:hover {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
        border-radius: 2px;
      }
    }
    li a {
      color: $white-text-color;
      padding: 5px;
    }
  }
}

/*Footer*/
.site-footer {
  background-color: $white-bg-color;
  padding-top: 55px;
}

/*Footer widgets*/
.footer-widgets {
  padding-top: 0;
}

/*Footer widgets*/
.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5,
.site-footer h6,
.site-footer .widget .widget-title,
.site-footer .widget .widgettitle {
  color: $grey-text-color;
}

/*Footer widgets title */
.widget .widget-title,
.widget .widgettitle {
  padding-bottom: 0.8125rem;
  margin-bottom: 0;
  border-bottom: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.64px;
}

.widget_pages {
  ul li {
    padding-left: 0;
    &::before {
      display: none;
    }
  }
  span.widget-title {
    display: none;
  }
}

/*Footer AJUTOR section */
#custom_html-2 .textwidget ul li a,
.widget_pages ul li a {
  text-decoration: none;
  padding: 3px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  &:hover {
    color: $darkblue-text-color !important;
  }
}

/*Footer DESPRE, CONTACT text */
.widget {
  margin: 0;
  .textwidget p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: -0.032px;
  }
}

/*The weekly programm in CONTACTATI-NE section in Footer */
#text-3 .textwidget p:nth-child(n + 3):nth-child(-n + 6) {
  margin: 0;
}

/* Copyright and site info*/
.site-info {
  font-size: 12px;
}
